body {
    background-color: hsl(214, 64%, 98%);
    overflow: hidden;
}

#try-top-btn {
    padding: 10px;
    background-color: white;
    color: hsl(265, 100%, 66%);
    width: 150px;
    float: right;
    margin: 20px;
    font: 16px 'Poppins', sans-serif;
    -webkit-box-shadow: -15px 13px 36px -15px rgba(107,106,107,0.69);
    -moz-box-shadow: -15px 13px 36px -15px rgba(107,106,107,0.69);
    box-shadow: -15px 13px 36px -15px rgba(107,106,107,0.69);
}

#pink-gradient {
    width: 1200px;
    height: 650px;
    transform: rotate(45deg);
    background: linear-gradient(90deg, rgba(255,82,191,1) 35%, rgba(154,82,255,1) 100%);
    border-radius: 10%;
    z-index: -1;
    position: absolute;
    left: 60%;
    bottom: 150px;
}

#white-div {
    width: 500px;
    height: 500px;
    transform: rotate(45deg);
    border-radius: 10%;
    z-index: 1;
    /* position: absolute;
    right: 30%; */
    color: black;
}

#img-wrapper {
    margin-top: 20px;
    max-width: 65%;
    margin: 0 auto;
}

#mockup {
    width: 100%;
    height: auto;
}

.heading {
    font: 20px 'Poppins', sans-serif;
    font-weight: 900;
    text-align: center;
}

.description {
    text-align: center;
    color: #3c3c3c;
    font: 16px 'Open Sans', sans-serif;
}