body {
    background-color: hsl(214, 64%, 98%);
    overflow: auto;
}

#logo {
    margin: 20px;
}

h1 {
    font: 28px 'Poppins', sans-serif;
    font-weight: 900;
    margin: 0 30px;
    text-align: center;
}

#try-top-btn {
    padding: 10px;
    background-color: white;
    color: hsl(265, 100%, 66%);
    width: 150px;
    float: right;
    margin: 20px;
    font: 16px 'Poppins', sans-serif;
    -webkit-box-shadow: -15px 13px 36px -15px rgba(107,106,107,0.69);
    -moz-box-shadow: -15px 13px 36px -15px rgba(107,106,107,0.69);
    box-shadow: -15px 13px 36px -15px rgba(107,106,107,0.69);
    border: 0px;
}

#pink-gradient {
    width: 1100px;
    height: 650px;
    transform: rotate(45deg);
    background: linear-gradient(90deg, rgba(255,82,191,1) 35%, rgba(154,82,255,1) 100%);
    border-radius: 10%;
    z-index: -1;
    position: absolute;
    left: 45%;
    bottom: 200px;
    overflow: hidden;
}

#white-div {
    background-color: white;
    width: 900px;
    height: 800px;
    transform: rotate(45deg);
    position: absolute;
    border-radius: 10%;
    z-index: -2;
    left: 30%;
    top: 500px;
    overflow: hidden;
}

.img-wrapper {
    margin-top: 20px;
    max-width: 75%;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 100px;
}

.mockup {
    width: 100%;
    height: auto;
}

.heading {
    font: 20px 'Poppins', sans-serif;
    font-weight: 900;
    text-align: center;
}

#features-div {
    margin-top: 300px;
}

.description {
    width: 80vmin;
    text-align: center;
    margin: 0 auto;
    color: #7e7a7a;
    font: 16px 'Open Sans', sans-serif;
}

.start-btn {
    background-color: #FF52BF;
    padding: 15px;
    color: white;
    font: 16px 'Poppins', sans-serif;
    text-align: center;
    border: 0px;
    -webkit-box-shadow: -15px 13px 36px -15px rgba(107,106,107,0.69);
    -moz-box-shadow: -15px 13px 36px -15px rgba(107,106,107,0.69);
    box-shadow: -15px 13px 36px -15px rgba(107,106,107,0.69);
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
}

#trial {
    background-color: #FFF;
    margin: 0 auto;
    width: 80%;
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 20px 0;
}

ul {
    list-style-type: none;
    font: 16px 'Open Sans', sans-serif;
}

#footer {
    margin-top: 20px;
    background-color: hsl(192, 100%, 9%);
    color: white;
}